{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario list</h1>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pais</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nacimiento</th>
                <th>Ultima vez Ingreso</th>
                <th>Correo</th>
                <th>Fecha Ingreso</th>
                <th>Password</th>
                {#<th>Salt</th>#}
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.userPais }}</td>
                <td>{{ entity.nomUsu }}</td>
                <td>{{ entity.apeUsu }}</td>
                <td>
                    {% if entity.fecUsu %}
                        {{ entity.fecUsu|date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.fecUlt %}
                        {{ entity.fecUlt|date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>{{ entity.mailUsu }}</td>
                <td>
                    {% if entity.fecIng %}
                        {{ entity.fecIng|date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>{{ entity.password }}</td>
                {#<td>{{ entity.salt }}</td>#}
                <td>{{ entity.estUsu }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
